<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.TaxiConnectionString"
            connectionString="Data Source=DESKTOP-40LSVQF;Initial Catalog=taxi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.ShopsConnectionString"
            connectionString="Data Source=DESKTOP-40LSVQF;Initial Catalog=Shops;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.regConnectionString"
            connectionString="Data Source=DESKTOP-40LSVQF;Initial Catalog=reg;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.dataConnectionString"
            connectionString="Data Source=DESKTOP-40LSVQF;Initial Catalog=data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.dataConnectionString1"
            connectionString="Data Source=DESKTOP-0BSM9HV;Initial Catalog=data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.saloonConnectionString"
            connectionString="Data Source=DESKTOP-0BSM9HV;Initial Catalog=saloon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.saloonConnectionString1"
            connectionString="Data Source=DESKTOP-FITMBD4;Initial Catalog=saloon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>